* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 280px;
  transform: translateY(50%);
  top: -50%;
  position: relative;
  box-shadow: rgb(153 143 235) 0px 0px 50px 15px inset;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
